{"openapi":"3.1.0","info":{"title":"Using API","version":"1.0"},"servers":[{"url":"https://api.kycaid.com/"}],"security":[{"sec0":[]}],"paths":{"/addresses":{"post":{"tags":["Addresses"],"summary":"Create an address object","description":"Create and add an address object to an applicant or an affiliated person object.<br><br>Only one address per type may be added to an object","operationId":"address-create","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Address for KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person<br>• `ADDITIONAL` for any other address associated with a person","x-readme-ref-name":"type--address--person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyc--person"},{"type":"object","title":"Address for KYB applicant (a company)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type":{"type":"string","enum":["REGISTERED","BUSINESS","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the registered address of a company<br>• `BUSINESS` for the primary business location of a company<br>• `ADDITIONAL` for any other address associated with a company","x-readme-ref-name":"type--address--company"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyb--company"},{"type":"object","title":"Address for KYB applicant (an affiliated person)","description":"Test","properties":{"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of an affiliated person<br>• `ADDITIONAL` for any other address associated with an affiliated person","x-readme-ref-name":"type--address--affiliated_person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyb--affiliated_person"}]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"address_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an address object, that is assigned by our system after an address entity was created","x-readme-ref-name":"address_id"}}}}}},"400":{"description":"400","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"422":{"description":"422 Unprocessable Content","content":{"application/json":{"schema":{"oneOf":[{"description":"The error is sent by our system when an address object with `REGISTERED` type was already created for an applicant. Only one address object with `REGISTERED` type per applicant is available","type":"object","properties":{"type":{"type":"string","example":"flow"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"type"},"message":{"type":"string","example":"Address with type REGISTERED already exists"}}}}}},{"description":"The error is sent by our system when an address object with `ADDITIONAL` type was already created for an applicant. Only one address object with `ADDITIONAL` type per applicant is available","type":"object","properties":{"type":{"type":"string","example":"flow"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"type"},"message":{"type":"string","example":"Address with type ADDITIONAL already exists"}}}}}},{"description":"The error is sent by our system when an applicant ID was not found in our system","type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"applicant_id"},"message":{"type":"string","example":"Applicant ID is not valid"}}}}}},{"description":"The error is sent by our system when a type of an address is not `REGISTERED`, `BUSINESS`, or `ADDITIONAL`","type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"parameter"},"message":{"type":"string","example":"Address with type ADDITIONAL already exists"}}}}}}]}}}},"429":{"description":"429","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}}}}},"/addresses/{address_id}.json":{"patch":{"tags":["Addresses"],"summary":"TEST: Update an address object","description":"Update records of an address object","operationId":"address-update","parameters":[{"name":"address_id","in":"path","schema":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an address object, that is assigned by our system after an address entity was created","x-readme-ref-name":"address_id"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["REGISTERED","BUSINESS","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person or an affiliated person, or the registered address of a company<br>• `BUSINESS` for the primary business location of a company<br>• `ADDITIONAL` for any other address associated with a person, an affiliated person, or a company","x-readme-ref-name":"type--address--full"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"address_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"In case when an address is under verification, our system will create a copy of address object and provide you with a different `address_id` in a response","x-readme-ref-name":"address_id"}}}}}}}}},"/affiliated-persons":{"post":{"tags":["Affiliated persons"],"summary":"Create an affiliated person object","description":"Create and add an affiliated person object for an applicant object","operationId":"affiliated-person-create","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Authorised affiliated person","properties":{"type":{"type":"string","enum":["AUTHORISED"],"nullable":"false","description":"A type of an affiliated person. `AUTHORISED` type is used for adding an authorised affiliated person. For more info review a corresponding article","x-readme-ref-name":"type--affiliated-person--authorised"},"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"title":{"type":"string","minLength":"1","maxLength":"36","nullable":"true","example":"CDO","description":"A title of an authorised affiliated person in a company","x-readme-ref-name":"title"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"}},"required":["type","applicant_id","first_name","last_name","title","dob","residence_country","nationality","email"]},{"type":"object","title":"Beneficial affiliated person","properties":{"type":{"type":"string","enum":["BENEFICIAL"],"nullable":"false","description":"A type of an affiliated person. `BENEFICIAL` type is used for adding an authorised beneficial person. For more info review a corresponding article","x-readme-ref-name":"type--affiliated-person--beneficial"},"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"share":{"type":"number","format":"float","minimum":"0.00","maximum":"100.00","nullable":"true","example":"13.05","description":"A share in percents of a beneficial affiliated person in a company","x-readme-ref-name":"share"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"}},"required":["type","applicant_id","first_name","last_name","share","dob","residence_country","nationality","email"]}]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"}}}}}},"404":{"description":"404","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"not_found"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"applicant_id"},"message":{"type":"string","example":"Applicant was not found"}}}}}}}}},"422":{"description":"422","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"type"},"message":{"type":"string","example":"Type of affiliated person is required"}}}}}}}}},"429":{"description":"429","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"flow"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"limit_exceeded"},"message":{"type":"string","example":"The authorised person is already exists for that applicant"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}},"502":{"description":"502","content":{"text/plain":{"examples":{"Wrong URL or No token":{"value":"<!doctype html><meta charset=\"utf-8\"><meta name=viewport content=\"width=device-width, initial-scale=1\"><title>502</title>502 Bad Gateway"}}}}}}}},"/affiliated-persons/{affiliated_person_id}":{"patch":{"tags":["Affiliated persons"],"summary":"Update an affiliated person","description":"Update records of an affiliated person","operationId":"affiliated-person-update","parameters":[{"name":"affiliated_person_id","in":"path","schema":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"title":{"type":"string","minLength":"1","maxLength":"36","nullable":"true","example":"CDO","description":"A title of an authorised affiliated person in a company","x-readme-ref-name":"title"},"share":{"type":"number","format":"float","minimum":"0.00","maximum":"100.00","nullable":"true","example":"13.05","description":"A share in percents of a beneficial affiliated person in a company","x-readme-ref-name":"share"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"}}}}}},"404":{"description":"404","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"not_found"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"affiliated_person_id"},"message":{"type":"string","example":"Affiliated person was not found"}}}}}}}}},"422":{"description":"422","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"*"},"message":{"type":"string","example":"At least one parameter should be set"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}}}},"delete":{"tags":["Affiliated persons"],"summary":"Delete an affiliated person","description":"","operationId":"affiliated-person-delete","parameters":[{"name":"affiliated_person_id","in":"path","schema":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"}}}}}},"404":{"description":"404","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"affiliated_person_id.json"},"message":{"type":"string","example":"Authorised person was not found"}}}}}}}}},"422":{"description":"422","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"affiliated_person_id.json"},"message":{"type":"string","example":"Affiliated Person ID is not valid"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}}}}},"/applicants":{"post":{"tags":["Applicants"],"summary":"Create an applicant","description":"Create a new applicant in the system","operationId":"applicant-create","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"KYC applicant (a person)","properties":{"type":{"type":"string","enum":["PERSON"],"nullable":"false","example":"PERSON","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--person"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"David","description":"A middle name of an entity","x-readme-ref-name":"middle_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"gender":{"type":"string","enum":["M","F"],"nullable":"true","example":"M","description":"A gender of an entity. `M` is for a male, `F` is for a female","x-readme-ref-name":"gender"},"pep":{"type":"boolean","enum":["true","false"],"nullable":"true","example":"false","description":"A status of an entity as a politically exposed person (PEP)","x-readme-ref-name":"pep"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"telegram_username":{"type":"string","minLength":"0","maxLength":"32","nullable":"true","example":"JoshCoffey","description":"A username of an entity in Telegram instant messaging service","x-readme-ref-name":"telegram_username"},"wallet_address":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"0xb96FdB81a90Ee8aB5b69B2b5Eb7a401ab8c274D8","description":"A cryptocurrency wallet address of an entity","x-readme-ref-name":"wallet_address"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"},"custom_field_1":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_2":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_3":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_4":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_5":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"}},"required":["type"]},{"type":"object","title":"KYB applicant (a company)","properties":{"type":{"type":"string","enum":["COMPANY"],"nullable":"false","example":"COMPANY","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--company"},"company_name":{"type":"string","minLength":"1","maxLength":"255","nullable":"false","example":"Acme","description":"A name of a company","x-readme-ref-name":"company_name"},"business_activity_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","nullable":"false","example":"4e46f42a001ee740a40ae35416507b121d00","description":"A business activity ID of a an entity according to “Get business activities” request","x-readme-ref-name":"business_activity_id"},"registration_country":{"type":"string","minLength":"2","maxLength":"2","example":"GB","nullable":"true","description":"A registration country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"registration_country"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"}},"required":["type","company_name","business_activity_id","registration_country","phone","email"]}]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"applicant_id":{"type":"string","example":"c6019ceb0a5b8745a00b670144b360b2dc55","description":"An ID of already created applicant"}}}}}},"400":{"description":"400","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"bad_request"},"errors":{"type":"array"}}}}}},"422":{"description":"422","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"validation"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"{parameter_name}"},"message":{"type":"string","example":"{parameter_name} is not valid"}}}}}}}}},"429":{"description":"429","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"limit_exceeded"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","example":"The limit for creating applicants has been exceeded (last minute)"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}}}}},"/applicants/{applicant_id}":{"get":{"tags":["Applicants"],"summary":"Get an applicant","description":"Get data on a created applicant","operationId":"applicant-get","parameters":[{"name":"applicant_id","in":"path","schema":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"},"type":{"type":"string","enum":["PERSON"],"nullable":"false","example":"PERSON","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--person"},"created_at":{"type":"string","format":"date-time","nullable":"true","example":"2024-07-01 15:27:15","description":"A date and time of creation of an entity, set by our system","x-readme-ref-name":"created_at"},"profile_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity profile verification, set by our system or our manager","x-readme-ref-name":"profile_status"},"profile_comment":{"type":"string","nullable":"true","example":null,"profile_comment":"A custom comment left by our manager for an entity","x-readme-ref-name":"profile_comment"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"origin_first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A first name of an object, set in a native language","x-readme-ref-name":"origin_first_name"},"middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"David","description":"A middle name of an entity","x-readme-ref-name":"middle_name"},"origin_middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A middle name of an entity, set in a native language","x-readme-ref-name":"origin_middle_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"origin_last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A last name of an entity, set in a native language","x-readme-ref-name":"origin_last_name"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"gender":{"type":"string","enum":["M","F"],"nullable":"true","example":"M","description":"A gender of an entity. `M` is for a male, `F` is for a female","x-readme-ref-name":"gender"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"phone_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity phone verification, set by our system or our manager","x-readme-ref-name":"phone_status"},"wallet_address":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"0xb96FdB81a90Ee8aB5b69B2b5Eb7a401ab8c274D8","description":"A cryptocurrency wallet address of an entity","x-readme-ref-name":"wallet_address"},"telegram_username":{"type":"string","minLength":"0","maxLength":"32","nullable":"true","example":"JoshCoffey","description":"A username of an entity in Telegram instant messaging service","x-readme-ref-name":"telegram_username"},"pep":{"type":"boolean","enum":["true","false"],"nullable":"true","example":"false","description":"A status of an entity as a politically exposed person (PEP)","x-readme-ref-name":"pep"},"custom_field_1":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_2":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_3":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_4":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_5":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"decline_reasons":{"type":"array","items":["AGE_RESTRICTION","BAD_QUALITY","COMPROMISED_PERSON","COMPULSION","DIFFERENT_FACES","DOCUMENT_DAMAGED","DOCUMENT_INCOMPLETE","DUPLICATE","EDITED_DOCUMENT","EXPIRED_DOCUMENT","EXPIRES_LESS_3_MONTHS","FAKE_DOCUMENT","MULTIPLE_PERSON","NO_SELFIE","OTHER","PROHIBITED_JURISDICTION","WRONG_DOB","WRONG_DOCUMENT","WRONG_INFO","WRONG_NAME"],"nullable":"false","example":["NO_SELFIE","WRONG_NAME"],"description":"A reason for verification decline for an entity, set by our system","x-readme-ref-name":"decline_reasons--verification"},"addresses":{"type":"object","title":"Address for KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person<br>• `ADDITIONAL` for any other address associated with a person","x-readme-ref-name":"type--address--person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyc--person"},"documents":[],"questionnaires":[],"verification_status":[],"verifications_count":[]},"x-readme-ref-name":"applicant--person"},{"type":"object","title":"KYC applicant (a company)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"},"type":{"type":"string","enum":["COMPANY"],"nullable":"false","example":"COMPANY","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--company"},"created_at":{"type":"string","format":"date-time","nullable":"true","example":"2024-07-01 15:27:15","description":"A date and time of creation of an entity, set by our system","x-readme-ref-name":"created_at"},"profile_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity profile verification, set by our system or our manager","x-readme-ref-name":"profile_status"},"profile_comment":{"type":"string","nullable":"true","example":null,"profile_comment":"A custom comment left by our manager for an entity","x-readme-ref-name":"profile_comment"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"origin_first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A first name of an object, set in a native language","x-readme-ref-name":"origin_first_name"},"middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"David","description":"A middle name of an entity","x-readme-ref-name":"middle_name"},"origin_middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A middle name of an entity, set in a native language","x-readme-ref-name":"origin_middle_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"origin_last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A last name of an entity, set in a native language","x-readme-ref-name":"origin_last_name"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"gender":{"type":"string","enum":["M","F"],"nullable":"true","example":"M","description":"A gender of an entity. `M` is for a male, `F` is for a female","x-readme-ref-name":"gender"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"phone_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity phone verification, set by our system or our manager","x-readme-ref-name":"phone_status"},"wallet_address":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"0xb96FdB81a90Ee8aB5b69B2b5Eb7a401ab8c274D8","description":"A cryptocurrency wallet address of an entity","x-readme-ref-name":"wallet_address"},"telegram_username":{"type":"string","minLength":"0","maxLength":"32","nullable":"true","example":"JoshCoffey","description":"A username of an entity in Telegram instant messaging service","x-readme-ref-name":"telegram_username"},"pep":{"type":"boolean","enum":["true","false"],"nullable":"true","example":"false","description":"A status of an entity as a politically exposed person (PEP)","x-readme-ref-name":"pep"},"custom_field_1":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_2":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_3":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_4":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_5":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"decline_reasons":{"type":"array","items":["AGE_RESTRICTION","BAD_QUALITY","COMPROMISED_PERSON","COMPULSION","DIFFERENT_FACES","DOCUMENT_DAMAGED","DOCUMENT_INCOMPLETE","DUPLICATE","EDITED_DOCUMENT","EXPIRED_DOCUMENT","EXPIRES_LESS_3_MONTHS","FAKE_DOCUMENT","MULTIPLE_PERSON","NO_SELFIE","OTHER","PROHIBITED_JURISDICTION","WRONG_DOB","WRONG_DOCUMENT","WRONG_INFO","WRONG_NAME"],"nullable":"false","example":["NO_SELFIE","WRONG_NAME"],"description":"A reason for verification decline for an entity, set by our system","x-readme-ref-name":"decline_reasons--verification"},"addresses":[],"documents":[],"questionnaires":[],"verification_status":[],"verifications_count":[]},"x-readme-ref-name":"applicant--company"}]}}}},"404":{"description":"404","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"not_found"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"applicant_id|verification_id"},"message":{"type":"string","example":"Applicant|Verification was not found"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"internal_server"},"errors":{"type":"array"}}}}}}}},"patch":{"tags":["Applicants"],"summary":"Update an applicant","description":"Update data of a created applicant","operationId":"update-an-applicant","parameters":[{"name":"applicant_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"not_found"},"errors":{"type":"array","items":{"type":"object","properties":{"parameter":{"type":"string","example":"{applicant_id|business_activity_id}"},"message":{"type":"string","example":"{applicant_id|business_activity_id} was not found"}}}}}}}}}}}},"/bdb/persons":{"post":{"tags":["Blacklist databases"],"summary":"Check with blacklist databases","description":"Retrieve information on KYC applicants (persons) from the Kycaid blacklist databases to check for compliance with laws and regulations","operationId":"blacklist-databases","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","example":"Josh","description":"A first name of a person"}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/business-activities":{"get":{"tags":["Business activities"],"summary":"Get business activities","description":"","operationId":"get-business-activities","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/countries":{"get":{"tags":["Countries"],"summary":"Get countries","description":"","operationId":"get-countries","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/in/aadhaar/generate-otp":{"post":{"tags":["Data by a specific document"],"summary":"Get data by Aadhaar number (India)","description":"","operationId":"get-data-by-aadhaar-number-india","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/pe/dni/{dni_number}":{"get":{"tags":["Data by a specific document"],"summary":"Get data by CUI number from DNI (Peru)","description":"","operationId":"get-data-by-cui-number-peru","parameters":[{"name":"dni_number","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/br/cpf/{cpf_number}":{"get":{"tags":["Data by a specific document"],"summary":"Get data by CPF number (Brazil)","description":"","operationId":"get-data-by-cpf-number-brazil","parameters":[{"name":"cpf_number","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/mx/curp/{curp_number}":{"get":{"tags":["Data by a specific document"],"summary":"Get data by CURP (Mexico)","description":"","operationId":"get-data-by-curp-mexico","parameters":[{"name":"curp_number","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/kz/personal-data/request":{"post":{"tags":["Data by a specific document"],"summary":"Get data by IIN (Kazakhstan)","description":"","operationId":"get-data-by-iin-kazakhstan","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/tr/identity-number":{"post":{"tags":["Data by a specific document"],"summary":"Get data by Türkiye Cumhuriyeti Kimlik Numarası (Turkey)","description":"","operationId":"get-data-by-türkiye-cumhuriyeti-kimlik-numarası-turkey","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/documents":{"post":{"tags":["Documents"],"summary":"Create a document","description":"","operationId":"create-a-document","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/documents/{document_id}":{"get":{"tags":["Documents"],"summary":"Get a document","description":"","operationId":"get-a-document","parameters":[{"name":"document_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}},"patch":{"tags":["Documents"],"summary":"Update a document","description":"","operationId":"update-a-document","parameters":[{"name":"document_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}},"delete":{"tags":["Documents"],"summary":"Remove a document","description":"","operationId":"remove-a-document","parameters":[{"name":"document_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/recognizer/id":{"post":{"tags":["Documents"],"summary":"Recognise a document","description":"","operationId":"recognise-a-document","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/external-verifications":{"post":{"tags":["External verifications"],"summary":"Create an external verification","description":"","operationId":"create-an-external-verification","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/external-verifications/{external_verification_id}":{"get":{"tags":["External verifications"],"summary":"Get an external verification","description":"","operationId":"get-an-external-verification","parameters":[{"name":"external_verification_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/files":{"post":{"tags":["Files"],"summary":"Create a file","description":"","operationId":"create-a-file","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/files/{file_id}":{"put":{"tags":["Files"],"summary":"Update a file","description":"","operationId":"update-a-file","parameters":[{"name":"file_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/forms":{"get":{"tags":["Forms"],"summary":"Get forms","description":"","operationId":"get-forms","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/forms/{form_id}/urls":{"post":{"tags":["Forms"],"summary":"Get form URL","description":"","operationId":"get-form-url","parameters":[{"name":"form_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"applicant_id"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/languages":{"get":{"tags":["Languages"],"summary":"Get languages","description":"","operationId":"get-languages","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/services/phone-number/check/request":{"post":{"tags":["Phone numbers"],"summary":"Check a phone number","description":"","operationId":"check-a-phone-number","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/verifications":{"post":{"tags":["Verifications"],"summary":"Create a verification","description":"","operationId":"create-a-verification","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/verifications/{verification_id}":{"get":{"tags":["Verifications"],"summary":"Get a verification","description":"","operationId":"get-a-verification","parameters":[{"name":"verification_id","in":"path","description":"TBD","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}},"/verifications/report":{"get":{"tags":["Verifications"],"summary":"Get a verifications report","description":"","operationId":"get-a-verifications-report","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}}}}},"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"token"}},"schemas":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type--address--person":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person<br>• `ADDITIONAL` for any other address associated with a person","x-readme-ref-name":"type--address--person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"},"address--kyc--person":{"type":"object","title":"Address for KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person<br>• `ADDITIONAL` for any other address associated with a person","x-readme-ref-name":"type--address--person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyc--person"},"type--address--company":{"type":"string","enum":["REGISTERED","BUSINESS","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the registered address of a company<br>• `BUSINESS` for the primary business location of a company<br>• `ADDITIONAL` for any other address associated with a company","x-readme-ref-name":"type--address--company"},"address--kyb--company":{"type":"object","title":"Address for KYB applicant (a company)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type":{"type":"string","enum":["REGISTERED","BUSINESS","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the registered address of a company<br>• `BUSINESS` for the primary business location of a company<br>• `ADDITIONAL` for any other address associated with a company","x-readme-ref-name":"type--address--company"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyb--company"},"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"},"type--address--affiliated_person":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of an affiliated person<br>• `ADDITIONAL` for any other address associated with an affiliated person","x-readme-ref-name":"type--address--affiliated_person"},"address--kyb--affiliated_person":{"type":"object","title":"Address for KYB applicant (an affiliated person)","description":"Test","properties":{"affiliated_person_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"74cec9e50f844748be0bc321a2bf66638f54","description":"A unique identifier of an affiliated person, that is assigned by our system after an affiliated person entity was created","x-readme-ref-name":"affiliated_person_id"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of an affiliated person<br>• `ADDITIONAL` for any other address associated with an affiliated person","x-readme-ref-name":"type--address--affiliated_person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-readme-ref-name":"full_address"},"country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"country"},"state":{"type":"string","maxLength":"50","nullable":"true","example":"California","description":"A state of an object","x-readme-ref-name":"state"},"region":{"type":"string","maxLength":"50","nullable":"true","example":"Europe","description":"A region of an object","x-readme-ref-name":"region"},"province":{"type":"string","maxLength":"50","nullable":"true","example":"Ontario","description":"A province (a sub-region of a country) of an object","x-readme-ref-name":"province"},"city":{"type":"string","maxLength":"50","nullable":"true","example":"London","description":"A city or a town of an object","x-readme-ref-name":"city"},"district":{"type":"string","maxLength":"50","nullable":"true","example":"Westminster","description":"A district (an area of a city) of an object","x-readme-ref-name":"district"},"address":{"type":"string","maxLength":"50","nullable":"true","example":"45 High Street, Flat 2A","description":"An address (a street name, a building number and a unit number) of an object","x-readme-ref-name":"address"},"postal_code":{"type":"string","maxLength":"20","nullable":"true","example":"SW1A 1AA","description":"A postal code (zip code, postcode) of an object","x-readme-ref-name":"postal_code"},"street_name":{"type":"string","maxLength":"50","nullable":"true","example":"High Street","description":"A street name of an object","x-readme-ref-name":"street_name"},"building_number":{"type":"string","maxLength":"20","nullable":"true","example":"45","description":"A number of a building of an object","x-readme-ref-name":"building_number"},"unit_number":{"type":"string","maxLength":"20","nullable":"true","example":"Flat 2A","description":"A number of a unit (flat, apartment) of an object","x-readme-ref-name":"unit_number"}},"required":["applicant_id","type"],"x-readme-ref-name":"address--kyb--affiliated_person"},"address_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an address object, that is assigned by our system after an address entity was created","x-readme-ref-name":"address_id"},"type--address--full":{"type":"string","enum":["REGISTERED","BUSINESS","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person or an affiliated person, or the registered address of a company<br>• `BUSINESS` for the primary business location of a company<br>• `ADDITIONAL` for any other address associated with a person, an affiliated person, or a company","x-readme-ref-name":"type--address--full"},"type--affiliated-person--authorised":{"type":"string","enum":["AUTHORISED"],"nullable":"false","description":"A type of an affiliated person. `AUTHORISED` type is used for adding an authorised affiliated person. For more info review a corresponding article","x-readme-ref-name":"type--affiliated-person--authorised"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"title":{"type":"string","minLength":"1","maxLength":"36","nullable":"true","example":"CDO","description":"A title of an authorised affiliated person in a company","x-readme-ref-name":"title"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"type--affiliated-person--beneficial":{"type":"string","enum":["BENEFICIAL"],"nullable":"false","description":"A type of an affiliated person. `BENEFICIAL` type is used for adding an authorised beneficial person. For more info review a corresponding article","x-readme-ref-name":"type--affiliated-person--beneficial"},"share":{"type":"number","format":"float","minimum":"0.00","maximum":"100.00","nullable":"true","example":"13.05","description":"A share in percents of a beneficial affiliated person in a company","x-readme-ref-name":"share"},"type--applicant--person":{"type":"string","enum":["PERSON"],"nullable":"false","example":"PERSON","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--person"},"middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"David","description":"A middle name of an entity","x-readme-ref-name":"middle_name"},"gender":{"type":"string","enum":["M","F"],"nullable":"true","example":"M","description":"A gender of an entity. `M` is for a male, `F` is for a female","x-readme-ref-name":"gender"},"pep":{"type":"boolean","enum":["true","false"],"nullable":"true","example":"false","description":"A status of an entity as a politically exposed person (PEP)","x-readme-ref-name":"pep"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"telegram_username":{"type":"string","minLength":"0","maxLength":"32","nullable":"true","example":"JoshCoffey","description":"A username of an entity in Telegram instant messaging service","x-readme-ref-name":"telegram_username"},"wallet_address":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"0xb96FdB81a90Ee8aB5b69B2b5Eb7a401ab8c274D8","description":"A cryptocurrency wallet address of an entity","x-readme-ref-name":"wallet_address"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"},"custom_field":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"type--applicant--company":{"type":"string","enum":["COMPANY"],"nullable":"false","example":"COMPANY","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--company"},"company_name":{"type":"string","minLength":"1","maxLength":"255","nullable":"false","example":"Acme","description":"A name of a company","x-readme-ref-name":"company_name"},"business_activity_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","nullable":"false","example":"4e46f42a001ee740a40ae35416507b121d00","description":"A business activity ID of a an entity according to “Get business activities” request","x-readme-ref-name":"business_activity_id"},"registration_country":{"type":"string","minLength":"2","maxLength":"2","example":"GB","nullable":"true","description":"A registration country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"registration_country"},"created_at":{"type":"string","format":"date-time","nullable":"true","example":"2024-07-01 15:27:15","description":"A date and time of creation of an entity, set by our system","x-readme-ref-name":"created_at"},"profile_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity profile verification, set by our system or our manager","x-readme-ref-name":"profile_status"},"profile_comment":{"type":"string","nullable":"true","example":null,"profile_comment":"A custom comment left by our manager for an entity","x-readme-ref-name":"profile_comment"},"origin_first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A first name of an object, set in a native language","x-readme-ref-name":"origin_first_name"},"origin_middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A middle name of an entity, set in a native language","x-readme-ref-name":"origin_middle_name"},"origin_last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A last name of an entity, set in a native language","x-readme-ref-name":"origin_last_name"},"phone_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity phone verification, set by our system or our manager","x-readme-ref-name":"phone_status"},"decline_reasons--verification":{"type":"array","items":["AGE_RESTRICTION","BAD_QUALITY","COMPROMISED_PERSON","COMPULSION","DIFFERENT_FACES","DOCUMENT_DAMAGED","DOCUMENT_INCOMPLETE","DUPLICATE","EDITED_DOCUMENT","EXPIRED_DOCUMENT","EXPIRES_LESS_3_MONTHS","FAKE_DOCUMENT","MULTIPLE_PERSON","NO_SELFIE","OTHER","PROHIBITED_JURISDICTION","WRONG_DOB","WRONG_DOCUMENT","WRONG_INFO","WRONG_NAME"],"nullable":"false","example":["NO_SELFIE","WRONG_NAME"],"description":"A reason for verification decline for an entity, set by our system","x-readme-ref-name":"decline_reasons--verification"},"applicant--person":{"type":"object","title":"KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"external_applicant_id":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"ed469618898d75b149e5c7c4b6a1c415","description":"An ID of an entity in your system","x-readme-ref-name":"external_applicant_id"},"type":{"type":"string","enum":["PERSON"],"nullable":"false","example":"PERSON","description":"A type of an applicant. `PERSON` type is used for KYC process, and `COMPANY` type is used for KYB process","x-readme-ref-name":"type--applicant--person"},"created_at":{"type":"string","format":"date-time","nullable":"true","example":"2024-07-01 15:27:15","description":"A date and time of creation of an entity, set by our system","x-readme-ref-name":"created_at"},"profile_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity profile verification, set by our system or our manager","x-readme-ref-name":"profile_status"},"profile_comment":{"type":"string","nullable":"true","example":null,"profile_comment":"A custom comment left by our manager for an entity","x-readme-ref-name":"profile_comment"},"first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Josh","description":"A first name of an entity","x-readme-ref-name":"first_name"},"origin_first_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A first name of an object, set in a native language","x-readme-ref-name":"origin_first_name"},"middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"David","description":"A middle name of an entity","x-readme-ref-name":"middle_name"},"origin_middle_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A middle name of an entity, set in a native language","x-readme-ref-name":"origin_middle_name"},"last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":"Coffey","description":"A last name of an entity","x-readme-ref-name":"last_name"},"origin_last_name":{"type":"string","format":"name","pattern":"^[a-z ,.'-]{1,64}$","minLength":"1","maxLength":"64","nullable":"true","example":null,"description":"A last name of an entity, set in a native language","x-readme-ref-name":"origin_last_name"},"residence_country":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A residence country of an object. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"residence_country"},"nationality":{"type":"string","minLength":"2","maxLength":"2","nullable":"true","example":"GB","description":"A nationality country of an entity. A two-letter country code according to ISO 3166-2","x-readme-ref-name":"nationality"},"dob":{"type":"string","format":"date","nullable":"true","example":"1976-02-21","description":"A date of birth of an entity according to ISO 8601","x-readme-ref-name":"dob"},"gender":{"type":"string","enum":["M","F"],"nullable":"true","example":"M","description":"A gender of an entity. `M` is for a male, `F` is for a female","x-readme-ref-name":"gender"},"email":{"type":"string","format":"email","minLength":"1","maxLength":"254","pattern":"^$|^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$","nullable":"true","example":"josh.coffey@example.com","description":"An email address of an entity","x-readme-ref-name":"email"},"phone":{"type":"string","minLength":"0","maxLength":"15","nullable":"true","example":"441172345678","description":"A phone number of an entity","x-readme-ref-name":"phone"},"phone_status":{"type":"string","enum":["valid","invalid"],"nullable":"true","example":null,"description":"A status of an entity phone verification, set by our system or our manager","x-readme-ref-name":"phone_status"},"wallet_address":{"type":"string","minLength":"0","maxLength":"50","nullable":"true","example":"0xb96FdB81a90Ee8aB5b69B2b5Eb7a401ab8c274D8","description":"A cryptocurrency wallet address of an entity","x-readme-ref-name":"wallet_address"},"telegram_username":{"type":"string","minLength":"0","maxLength":"32","nullable":"true","example":"JoshCoffey","description":"A username of an entity in Telegram instant messaging service","x-readme-ref-name":"telegram_username"},"pep":{"type":"boolean","enum":["true","false"],"nullable":"true","example":"false","description":"A status of an entity as a politically exposed person (PEP)","x-readme-ref-name":"pep"},"custom_field_1":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_2":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_3":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_4":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"custom_field_5":{"type":"string","minLength":"0","maxLength":"2048","nullable":"true","example":"This user is marked as suspicious by Mark L. at noon","description":"A custom parameter to store additional data for an entity by your managers","x-readme-ref-name":"custom_field"},"decline_reasons":{"type":"array","items":["AGE_RESTRICTION","BAD_QUALITY","COMPROMISED_PERSON","COMPULSION","DIFFERENT_FACES","DOCUMENT_DAMAGED","DOCUMENT_INCOMPLETE","DUPLICATE","EDITED_DOCUMENT","EXPIRED_DOCUMENT","EXPIRES_LESS_3_MONTHS","FAKE_DOCUMENT","MULTIPLE_PERSON","NO_SELFIE","OTHER","PROHIBITED_JURISDICTION","WRONG_DOB","WRONG_DOCUMENT","WRONG_INFO","WRONG_NAME"],"nullable":"false","example":["NO_SELFIE","WRONG_NAME"],"description":"A reason for verification decline for an entity, set by our system","x-readme-ref-name":"decline_reasons--verification"},"addresses":{"type":"object","title":"Address for KYC applicant (a person)","properties":{"applicant_id":{"type":"string","format":"uuid","minLength":"36","maxLength":"36","example":"723f46ab04feb64f442946f2953a67eaecf7","description":"A unique identifier of an applicant, that is assigned by our system after an applicant object was created","x-readme-ref-name":"applicant_id"},"type":{"type":"string","enum":["REGISTERED","ADDITIONAL"],"nullable":"false","example":"REGISTERED","description":"A category of an address. The possible types are:<br>• `REGISTERED` for the residential address of a person<br>• `ADDITIONAL` for any other address associated with a person","x-readme-ref-name":"type--address--person"},"full_address":{"type":"string","minLength":"1","maxLength":"255","nullable":"true","example":"45 High Street, Flat 2A, London, SW1A 1AA, United Kingdom","description":"A full address of an object, including a street address, a unit, a city, a postal code, a country","x-
[...]
