{"openapi":"3.0.3","info":{"title":"API Endpoints","description":"Service for interacting with the Fever platform.","version":"0.1","contact":{"email":"fever@fever.energy","name":"Fever Energy AB","url":"https://fever.energy"}},"servers":[{"url":"https://api.feverenergy.com"}],"tags":[{"name":"insights","description":"All API operations related to Insights service"},{"name":"capacity","description":"Capacity API for allocating and reading available capacity."},{"name":"status","description":"Status API for reading asset operational status."},{"name":"fever-id","description":"Fever ID API for creating and fetching Fever IDs."},{"name":"sites","description":"Sites API for creating, fetching and updating sites."},{"name":"assets","description":"Assets API for creating, fetching and updating assets."}],"paths":{"/beta/fever-id":{"post":{"tags":["fever-id"],"description":"Create a Fever ID. Unique within an organization and parent to sites.","security":[{"clientCredentials":["fever-id/write"]}],"operationId":"fever-id#create","summary":"Create","responses":{"201":{"description":"Created.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"],"x-readme-ref-name":"FeverIDObject"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"get":{"tags":["fever-id"],"description":"List Fever IDs.","security":[{"clientCredentials":["fever-id/read"]}],"operationId":"fever-id#list","summary":"List","parameters":[{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":20},"description":"The max numbers of items in the result."},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"The number of items to skip."}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"],"x-readme-ref-name":"FeverIDObject"}}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/fever-id/{id}":{"get":{"tags":["fever-id"],"description":"Get a Fever ID.","security":[{"clientCredentials":["fever-id/read"]}],"operationId":"fever-id#get","summary":"Get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"],"x-readme-ref-name":"FeverIDObject"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"delete":{"tags":["fever-id"],"description":"Delete a Fever ID.","security":[{"clientCredentials":["fever-id/write"]}],"operationId":"fever-id#delete","summary":"Delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"204":{"description":"No Content."},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/fever-id/{id}/restore":{"get":{"tags":["fever-id"],"description":"Restore a previously deleted Fever ID.","security":[{"clientCredentials":["fever-id/write"]}],"operationId":"fever-id#restore","summary":"Restore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"],"x-readme-ref-name":"FeverIDObject"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites":{"post":{"tags":["sites"],"description":"Create a Site, child of Fever ID","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#create","summary":"Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"required":["feverId"]}],"x-readme-ref-name":"SiteObjectRequest"}}}},"responses":{"201":{"description":"Created.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["feverId","id"]}],"x-readme-ref-name":"SiteObjectResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"get":{"tags":["sites"],"description":"List sites.","security":[{"clientCredentials":["sites/read"]}],"operationId":"sites#list","summary":"List","parameters":[{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":20},"description":"The max numbers of items in the result."},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"The number of items to skip."},{"name":"fever-id","in":"query","required":false,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["feverId","id"]}],"x-readme-ref-name":"SiteObjectResponse"}}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites/{id}":{"get":{"tags":["sites"],"description":"Get a site.","security":[{"clientCredentials":["sites/read"]}],"operationId":"sites#get","summary":"Get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["feverId","id"]}],"x-readme-ref-name":"SiteObjectResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"patch":{"tags":["sites"],"description":"Update specific fields of a Site","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#update","summary":"Update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"description":"Fields that can be updated in an existing Site.\nAny field that is included will be updated; other fields will remain unchanged.\n"}],"x-readme-ref-name":"SiteObjectPatch"}}}},"responses":{"200":{"description":"Site updated successfully.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["feverId","id"]}],"x-readme-ref-name":"SiteObjectResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"delete":{"tags":["sites"],"description":"Delete a Site.","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#delete","summary":"Delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"204":{"description":"No Content."},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites/{id}/restore":{"get":{"tags":["sites"],"description":"Restore a deleted site.","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#restore","summary":"Restore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"feverId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"biddingZone":{"type":"string","description":"The bidding zone of the asset. [SE1, SE2, SE3, SE4]","example":"SE3","x-go-type":"model.BiddingZone","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"biddingZone"},"gridAreaCode":{"type":"string","enum":["ABB","AHB","AJB","AKB","ALL","ALM","ALS","ALV","AML","AMS","ANE","ANG","ARD","ARN","ARS","ARV","ASL","AVD","AVE","BDL","BDN","BEF","BGO","BHM","BJK","BJL","BJR","BKE","BLE","BMA","BOO","BRG","BRL","BRS","BYG","CBR","DAD","DAN","DAP","DFS","DOF","DRV","EBA","EBN","EKG","EKO","ESJ","ESK","FBG","FBN","FGA","FLE","FLN","FLO","FMD","FOB","FPD","FRV","FSB","GAB","GAM","GBG","GBN","GDB","GIV","GNF","GTA","GTL","GTP","GVL","HAL","HAM","HBG","HBO","HBY","HDG","HDL","HDS","HDV","HJM","HJN","HJO","HLB","HLD","HLJ","HMD","HMH","HMM","HMR","HOF","HOG","HOR","HRA","HSD","HUV","HVI","ING","JML","JNK","JRA","JUJ","KAB","KBA","KBG","KHB","KHN","KKA","KKB","KLK","KMR","KND","KOB","KPN","KRF","KRH","KRS","KSA","KST","KUV","KVI","KVM","LAO","LBY","LDB","LDG","LDK","LED","LER","LHM","LJD","LKA","LMA","LNK","LRM","LUL","LUN","LYS","LYX","MAF","MAI","MBT","MBY","MDL","MEL","MLG","MMO","MOR","MRP","MSD","MYN","NBL","NBR","NHA","NHN","NKL","NOB","NRL","NSB","NSF","NSO","NTE","NVS","NYD","NYK","OBO","OCK","OFB","OGO","OHM","OHN","OLD","OLN","OLS","ORT","ORV","OSD","OVK","OXD","PIB","PTE","RBY","ROY","RSJ","RSK","SAH","SBG","SBK","SBR","SBV","SDT","SDV","SFE","SFP","SGD","SGS","SHD","SHN","SHT","SIG","SIH","SJB","SJO","SKA","SKD","SKL","SKN","SKP","SKR","SKT","SKV","SLD","SMB","SMN","SMS","SNM","SOT","SRF","SSJ","STH","STR","SUV","SYM","TBA","TBG","TBY","TDN","TDO","THM","TIB","TLB","TNN","TNS","TOR","TOS","TRE","TRH","TRS","TUM","TYR","TYS","UHN","UMA","UMD","UMO","UPN","UPO","UPP","UPS","UPV","URM","UVA","VAB","VAD","VAG","VAL","VAN","VAR","VAT","VBG","VBK","VBL","VBN","VBS","VBY","VDM","VDN","VGD","VGF","VIG","VLB","VLS","VMA","VMD","VMO","VNB","VTL","VVI","VXO","YST"],"x-readme-ref-name":"gridAreaCode"},"gridConnectionPointId":{"type":"string","description":"AnläggninsID.","x-readme-ref-name":"gridConnectionPointId"},"mainFuse":{"type":"integer","description":"The size of the main fuse in amps (AMP).","example":16,"x-readme-ref-name":"mainFuse"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"meterPlacement":{"type":"string","enum":["AllSite","OnlyAssets"],"example":"AllSite","x-readme-ref-name":"meterPlacement"},"brp":{"type":"string","enum":["BIXIA","EFS","VARBERG","VATTENFALL","VOLUE"],"x-go-type":"model.BrpName","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"brp"}},"x-readme-ref-name":"SiteObject"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["feverId","id"]}],"x-readme-ref-name":"SiteObjectResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites/{id}/readiness-check":{"get":{"tags":["sites"],"description":"Retrieve the readiness status of a specific site and details of any missing requirements to mark it as ready.","security":[{"clientCredentials":["sites/read"]}],"operationId":"sites#readiness-check","summary":"Get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"ready":{"description":"Indicates if the entity is ready.","type":"boolean"},"missing":{"description":"List of missing requirements to mark the entity as ready.","type":"array","items":{"type":"string"}},"message":{"description":"Additional details about the readiness status.","type":"string"}},"required":["ready","missing"],"x-readme-ref-name":"Readiness"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites/{id}/activate":{"post":{"tags":["sites"],"description":"Activates the specified site and its subcomponents, preparing it for Fever to assume control.","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#activate","summary":"Activate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK."},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/sites/{id}/deactivate":{"post":{"tags":["sites"],"description":"Deactivates the specified site and its subcomponents, removing it from Fever's control.","security":[{"clientCredentials":["sites/write"]}],"operationId":"sites#deactivate","summary":"Deactivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"immediate":{"type":"boolean","description":"Indicates if the deactivation is happening immediately."},"scheduledTime":{"type":"string","format":"date-time","description":"The time when the deactivation is scheduled to occur, if not immediate."},"reason":{"type":"string","description":"A brief explanation of why the deactivation is immediate or scheduled."}},"required":["immediate","reason"]}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/assets":{"post":{"tags":["assets"],"description":"Create a asset, child of sites","security":[{"clientCredentials":["assets/write"]}],"operationId":"assets#create","summary":"Create","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"}},"required":["siteId","asset"],"x-readme-ref-name":"AssetObjectRequest"}}}},"responses":{"201":{"description":"Created.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"}},"required":["siteId","asset"],"x-readme-ref-name":"AssetObjectRequest"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"]}],"x-readme-ref-name":"AssetObjectResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"get":{"tags":["assets"],"description":"List assets","security":[{"clientCredentials":["assets/read"]}],"operationId":"assets#list","summary":"List","parameters":[{"in":"query","name":"limit","required":false,"schema":{"type":"integer","minimum":1,"maximum":1000,"default":20},"description":"The max numbers of items in the result."},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"The number of items to skip."},{"name":"site-id","in":"query","required":false,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"}},"required":["siteId","asset"],"x-readme-ref-name":"AssetObjectRequest"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"]}],"x-readme-ref-name":"AssetObjectResponse"}}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/assets/{id}":{"get":{"tags":["assets"],"description":"Get a asset.","security":[{"clientCredentials":["assets/read"]}],"operationId":"assets#get","summary":"Get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"}},"required":["siteId","asset"],"x-readme-ref-name":"AssetObjectRequest"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"]}],"x-readme-ref-name":"AssetObjectResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"patch":{"tags":["assets"],"description":"Update specific fields of a Asset","security":[{"clientCredentials":["assets/write"]}],"operationId":"assets#update","summary":"Update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Fields that can be updated in an existing Asset.\nAny field that is included will be updated; other fields will remain unchanged.\n","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"},"update":{"description":"Specific fields for different asset types that can be updated.\n","type":"object","oneOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"}]}},"x-readme-ref-name":"AssetObjectPatch"}}}},"responses":{"200":{"description":"Asset updated successfully.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name to help identify the asset.","example":"Agunnaryd","x-readme-ref-name":"name"}},"required":["siteId","asset"],"x-readme-ref-name":"AssetObjectRequest"},{"properties":{"id":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}},"required":["id"]}],"x-readme-ref-name":"AssetObjectResponse"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Malformed request."}},"required":["message"]}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}},"delete":{"tags":["assets"],"description":"Delete a Asset.","security":[{"clientCredentials":["assets/write"]}],"operationId":"assets#delete","summary":"Delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"204":{"description":"No Content."},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"The incoming token has expired"}},"required":["message"]}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Insufficient rights to access resource."}},"required":["message"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"ExternalId not found."}},"required":["message"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Unexpected error."}},"required":["message"]}}}}}}},"/beta/assets/{id}/restore":{"get":{"tags":["assets"],"description":"Restore a previously deleted Asset.","security":[{"clientCredentials":["assets/write"]}],"operationId":"assets#restore","summary":"Restore","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"siteId":{"type":"string","description":"A unique ID within an organization, used to identify a feverID, site or asset\n","example":"FVR477BC68DE6AE4","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"id"},"asset":{"oneOf":[{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"maxPowerWattCharge":{"type":"integer","description":"If there is a charge constraint, max power in watt."},"maxPowerWattDischarge":{"type":"integer","description":"If there is a discharge constraint, max power in watt."},"nominalEnergyKwH":{"type":"number","format":"double","description":"Nominal energy (kWh), represents the amount of energy the battery can store."},"cRate":{"type":"number","format":"double","description":"Charge or discharge rate relative to battery energy capacity (e.g., 1C means full discharge in 1 hour)"}},"x-readme-ref-name":"assetBattery"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","nominalEnergyKwH","cRate","type"]}],"x-readme-ref-name":"assetBatteryReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["ZAPTEC","EASEE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"powerWatt":{"type":"integer","description":"Maximum charging power in watts."}},"x-readme-ref-name":"assetEVCharger"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","powerWatt","type"]}],"x-readme-ref-name":"assetEVChargerReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["BTS","ENPHASE","GROWATT","HUAWEI","SOFAR","SUNGROW","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"serialNumber":{"type":"string"},"powerWatt":{"type":"integer","description":"Maximum power output in watts."},"gatewayId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"}},"x-readme-ref-name":"assetInverter"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","serialNumber","powerWatt","type"]}],"x-readme-ref-name":"assetInverterReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["SOLAREDGE"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"inverterId":{"type":"string","description":"ID of asset that controls unit.","x-go-type":"model.ExternalID","x-go-type-import":{"path":"github.com/feverenergy/fever-api/utils/model"},"x-readme-ref-name":"controlledById"},"kWp":{"type":"number","format":"double","description":"Kilowatts peak (kWp)"}},"x-readme-ref-name":"assetPV"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","kWp","type"]}],"x-readme-ref-name":"assetPVReq"},{"allOf":[{"type":"object","properties":{"brand":{"type":"string","enum":["CUSTOMER_SPECIFIC","ESPEN","HUAWEI","PIXII"]},"model":{"type":"string","description":"Defines the product model, which may include well-known series names or specific versions provided by the manufacturer. \nThis field aids in identifying compatibility, performance characteristics, and technical specifications relevant to the model in use.\n","x-readme-ref-name":"assetModel"},"deviceIdentifier":{"type":"string","description":"Unique identifier for the system, enabling reliable identification when connecting to or managing the device externally. \nThis can serve as a client ID for MQTT communication or an identifier when accessing the manufacturer’s operations support system (OSS).\n"}},"x-readme-ref-name":"assetGateway"},{"properties":{"type":{"type":"string","description":"Type of asset","enum":["BATTERY","EVCHARGER","INVERTER","PV","GATEWAY"],"x-readme-ref-name":"assetType"}},"required":["brand","deviceIdentifier","type"]}],"x-readme-ref-name":"assetGatewayReq"}],"discriminator":{"propertyName":"type","mapping":{"BATTERY":"#/components/schemas/assetBatteryReq","EVCHARGER":"#/components/schemas/assetEVChargerReq","INVERTER":"#/components/schemas/assetInverterReq","PV":"#/components/schemas/assetPVReq","GATEWAY":"#/components/schemas/assetGatewayReq"}}},"name":{"type":"string","description":"A friendly name 
[...]
