{
  "openapi": "3.0.0",
  "info": {
    "version": "2019-08-15",
    "title": "Hummingbird API"
  },
  "servers": [
    {
      "description": "Hummingbird Sandbox API (Used for Test Purposes)",
      "url": "https://api.sandbox.hummingbird.co"
    },
    {
      "description": "Hummingbird Production API",
      "url": "https://api.hummingbird.co"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/alerts": {
      "post": {
        "summary": "Create a new alert",
        "tags": [
          "Alert Management"
        ],
        "operationId": "alerts_post",
        "description": "Create a new Alert with its associated Data. Payload will return your processing token, which can be used to see your alerts processing state via \u003Ca href=\"https://docs.hummingbird.co/reference/alerts_get\"\u003EFetch an Alert\u003C/a\u003E.",
        "requestBody": {
          "$ref": "#/components/requestBodies/AlertRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/AlertCreateResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/alerts/{token}": {
      "get": {
        "summary": "Fetch an alert",
        "tags": [
          "Alert Management"
        ],
        "operationId": "alerts_get",
        "description": "Retrieve the Alerts current processing State. If the Alert was successfully processed your payload will also include the Case and Review token. To get your Alerts token, please fetch the Case via \u003Ca href=\"https://docs.hummingbird.co/reference/cases_get\"\u003EFetch a Case\u003C/a\u003E.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertFetchResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AlertTokenParameter"
          }
        ]
      }
    },
    "/cases": {
      "get": {
        "summary": "List cases",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_index_get",
        "description": "List existing cases, filtered as specified by query parameters.\nThis endpoint follows Relay conventions for pagination. Cursors are only applicable to the current query and cannot be re-used with different filter parameters.\nOnly cases from the organization associated with the credentials provided in the Authorization header will be returned.\nUnless otherwise noted, results are returned in ascending order by their createdAt timestamp.\nExample request: `GET /cases?createdBetween=2020-08-01...2021-09-02`",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseListResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RelayConnectionAfterParameter"
          },
          {
            "$ref": "#/components/parameters/RelayConnectionBeforeParameter"
          },
          {
            "$ref": "#/components/parameters/RelayConnectionFirstParameter"
          },
          {
            "$ref": "#/components/parameters/RelayConnectionLastParameter"
          },
          {
            "name": "createdBetween",
            "in": "query",
            "description": "Filters returned cases to those created between the given iso8601 formatted timestamps. Can be open-ended.",
            "example": {
              "range": {
                "value": "2020-11-24T00:00:00Z...2020-11-25T00:00:00Z"
              },
              "greater_than_or_equal": {
                "value": "2020-11-24T00:00:00Z..."
              },
              "less_than": {
                "value": "...2020-11-25T00:00:00Z"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedBetween",
            "in": "query",
            "description": "Filters returned cases to those updated between the given iso8601 formatted timestamps. Can be open-ended. Causes results to be ordered by updatedAt.",
            "example": {
              "range": {
                "value": "2020-11-24T00:00:00Z...2020-11-25T00:00:00Z"
              },
              "greater_than_or_equal": {
                "value": "2020-11-24T00:00:00Z..."
              },
              "less_than": {
                "value": "...2020-11-25T00:00:00Z"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow",
            "in": "query",
            "description": "Filters returned cases to those with a review that has the workflow specified.",
            "examples": {
              "triage": {
                "value": "triage"
              },
              "aml-investigation": {
                "value": "aml-investigation"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ExcludeParameter"
        }
      ],
      "post": {
        "summary": "Create case",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_index_post",
        "description": "Create a case with the given parameters and data. The case will be created for the organization associated with the credentials provided in the Authorization header. If you have a case assignment protocol enabled in Hummingbird, we will use that same protocol to assign the case. Otherwise, no account will be assigned to the case.",
        "requestBody": {
          "$ref": "#/components/requestBodies/CaseCreateRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "409": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/cases/{token}": {
      "get": {
        "summary": "Fetch a case",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_get",
        "description": "Retrieve a case with the given token. Returns an error if the case does not exist.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseGetResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ExcludeParameter"
          }
        ]
      },
      "put": {
        "summary": "Update a case",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_put",
        "description": "Update a case with the given token to have the data provided. Returns an error if the case does not exist.",
        "requestBody": {
          "$ref": "#/components/requestBodies/CaseUpdateRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CasePutResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        },
        {
          "$ref": "#/components/parameters/ExcludeParameter"
        }
      ]
    },
    "/cases/id_lookup": {
      "post": {
        "summary": "Fetch a case by ID",
        "operationId": "cases_id_lookup_post",
        "description": "Look up an existing case by ID. If the case exists, it will return the appropriate case.",
        "tags": [
          "Case Management"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CaseLookupRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseGetResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ExcludeParameter"
        }
      ]
    },
    "/cases/{token}/attachments": {
      "get": {
        "summary": "List case attachments",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_attachment_get",
        "description": "Fetch case attachments along with a pre-signed url enabling you to download the files.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseAttachmentsResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CaseTokenParameter"
          }
        ]
      }
    },
    "/cases/{token}/validate/{jurisdiction}": {
      "get": {
        "summary": "Validate a case before filing",
        "tags": [
          "Case Filing"
        ],
        "operationId": "cases_file_get",
        "description": "This endpoint will run validations against the case with the given token, but will not file. This can be used as a pre-filing test endpoint to verify that your filing has no known validation errors for the jurisdiction specified. Returns any validation errors if there are any. Returns an error if the case does not exist. Returns a success status if all validations are run without error.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ValidationResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        },
        {
          "$ref": "#/components/parameters/JurisdictionParameter"
        }
      ]
    },
    "/cases/{token}/filing-status": {
      "get": {
        "summary": "Fetch the filing status of a case",
        "tags": [
          "Case Filing"
        ],
        "operationId": "cases_filing_status_get",
        "description": "Retrieve the filing statuses of a case with the given token. Returns an error if the case does not exist.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/FilingResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        }
      ]
    },
    "/cases/{token}/cancel": {
      "post": {
        "summary": "Cancel a case",
        "tags": [
          "Case Management"
        ],
        "operationId": "cases_cancel",
        "description": "Cancel an existing case with the given token and all of the reviews within it. This operation requires that the case and all its reviews be eligible for cancellation, i.e. the case is neither locked nor merging, and none of its reviews have been filed. Returns an error if the case does not exist or if it cannot be cancelled. Returns a success status if the case was successfully cancelled.",
        "requestBody": {
          "$ref": "#/components/requestBodies/CaseCancelRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CaseCancelResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        }
      ]
    },
    "/cases/{token}/entities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        }
      ],
      "delete": {
        "description": "Please contact Hummingbird for more information about this endpoint.",
        "tags": [
          "Case Management"
        ],
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {

              }
            }
          }
        }
      }
    },
    "/imports/case": {
      "post": {
        "summary": "Import cases",
        "tags": [
          "Case Importing"
        ],
        "operationId": "imports_case_post",
        "description": "This endpoint will allow you to import multiple cases at once. The POST body should conform to the newline-delimited \u003Ca href=\"https://jsonlines.org/\"\u003EJSONLines\u003C/a\u003E format. Each case should resemble a \u003Ca href=\"https://docs.hummingbird.co/#tocS_CaseCreateRequest\"\u003ECaseCreateRequest\u003C/a\u003E object, and each case should take up exactly one line, with a newline separating out the cases. The cases are all imported as a background job. This endpoint will return to you a token that you can use to lookup the status of the cases.",
        "requestBody": {
          "content": {
            "application/x-ndjson": {
              "schema": {

              },
              "example": "{ ... first case data ... }\n{ ... second case data ... }\n{ ... third case data ... }\n"
            }
          }
        },
        "x-readme": {
          "headers": [
            {
              "key": "content-type",
              "value": "application/x-ndjson"
            }
          ]
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateImportResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/imports/{token}": {
      "get": {
        "summary": "Fetch a case import",
        "tags": [
          "Case Importing"
        ],
        "operationId": "imports_case_get",
        "description": "Retrieve the status of a case import with the given token. The status of each case will be returned, if the import was for multiple cases. Returns an error if the case does not exist. If index field inside the error indicates which case in the request had the error.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/FetchImportResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/CaseTokenParameter"
        }
      ]
    },
    "/alert_uploads": {
      "post": {
        "summary": "Alert Uploads",
        "tags": [
          "Alert Uploads"
        ],
        "operationId": "alert_uploads_post",
        "description": "This endpoint allows you to upload Alert requests with more than 2MB of data. It involves a 4-step client flow: 1. Request an upload URL by calling the POST /alert_uploads endpoint. The request body should be an empty JSON object. 2. Upload your encrypted alerts data to the provided URL. 3. Notify the server that your upload is complete by calling the PUT /alerts_uploads/{token}/complete endpoint. 4. Poll for the outcome of the upload by calling the GET /alert_uploads/{token} endpoint. To see how to encrypt your Alerts request body and upload to S3, see this [help center article] (https://help.hummingbird.co/hummingbird-api/how-do-i-upload-larger-alerts-data-via-api)",
        "responses": {
          "201": {
            "$ref": "#/components/responses/AlertUploadsResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/alert_uploads/{token}/complete": {
      "put": {
        "summary": "Complete Upload",
        "tags": [
          "Alert Uploads"
        ],
        "operationId": "alert_uploads_complete_put",
        "description": "Notify the server that the alert upload has been completed on your side. Send an empty JSON object {}. Use the token obtained from the response to the initial GET request. The server will will synchronously verify that the uploaded file exists in S3 and enqueue for further processing. No other verification or processing will occur as a result of this call.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertUploadsGetResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AlertUploadTokenParameter"
          }
        ]
      }
    },
    "/alert_uploads/{token}": {
      "get": {
        "summary": "Fetch status",
        "tags": [
          "Alert Uploads"
        ],
        "operationId": "alert_uploads_get",
        "description": "This endpoint can be polled for the results of the upload. It returns the overall status of the alert (and an error message if one occurred), as well as an array of AlertFetchResponse objects (the same response typically provided by the GET /alerts/{token} endpoint on a per-alert basis). The array of alerts will remain EMPTY until ALL alerts in the upload have been processed, and the status is either PROCESSED or ERROR.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertUploadsGetResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AlertUploadTokenParameter"
          }
        ]
      }
    },
    "/attachments": {
      "post": {
        "summary": "Create attachments",
        "tags": [
          "Attachments"
        ],
        "operationId": "attachments_post",
        "description": "This endpoint allows you to create an attachment token. This request is the first of a three step process to fully add an attachment to a Hummingbird case.\nFor more information, see our accompanying [help center article](https://help.hummingbird.co/hummingbird-api/can-i-upload-files-over-the-api).",
        "requestBody": {
          "$ref": "#/components/requestBodies/AttachmentRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AttachmentResponse"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/crm/businesses": {
      "put": {
        "summary": "Add or update a business",
        "operationId": "crm_business_put",
        "description": "Create a new business or multiple businesses. If a business with the same ID exists, it will update fields of the existing record instead. If any errors are encountered during creation the endpoint will return an object with one or more descriptive errors. The request to this endpoint is expected to have one or more named fields associated with the business; any field omitted from the request will be left in its current state. Declaring a field in the request body, even if the field is explicitly set to null, will result in the field being updated.\nIf create/update are successful, the response body will contain an object with all fields for the business. If any failures occur the response body will provide an error message with details.",
        "tags": [
          "CRM (Beta)"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BusinessesRequest"
        },
        "responses": {
          "200": {
            "description": "A list of newly added or updated businesses",
            "$ref": "#/components/responses/BusinessesCreateResponse"
          },
          "404": {
            "description": "Malformed upsert request",
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/crm/businesses/{token}": {
      "get": {
        "summary": "Fetch a business",
        "operationId": "crm_business_get",
        "description": "Fetch an existing business using the unique token identifier Hummingbird generated during creation of the business. If the business exists an object containing all the data for the record will be returned. If the business cannot be found the endpoint will return an error message with an explanation.",
        "tags": [
          "CRM (Beta)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CRMTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BusinessGetResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/crm/businesses/id_lookup": {
      "post": {
        "summary": "Look up a business by ID",
        "operationId": "crm_business_id_lookup_post",
        "description": "Look up an existing business by ID. If the business exists, it will redirect to the fetch endpoint with corresponding token of the business in the path.",
        "tags": [
          "CRM (Beta)"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BusinessLookupRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BusinessGetResponse"
          },
          "303": {
            "description": "Redirect to fetch endpoint with corresponding token of the business.",
            "headers": {
              "Location": {
                "description": "Redirect url",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "text/html": {

              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/crm/people": {
      "put": {
        "summary": "Add or update a person",
        "operationId": "crm_person_put",
        "description": "Create a new person or multiple people. If a person with the same ID exists, it will update fields of the existing record instead. If any errors are encountered during creation the endpoint will return an object with one or more descriptive errors. The request to this endpoint is expected to have one or more named fields associated with the person; any field omitted from the request will be left in its current state. Declaring a field in the request body, even if the field is explicitly set to null, will result in the field being updated.\nIf create/update are successful, the response body will contain an object with all fields for the person. If any failures occur the response body will provide an error message with details.",
        "tags": [
          "CRM (Beta)"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PeopleRequest"
        },
        "responses": {
          "200": {
            "description": "A list of newly added or updated people",
            "$ref": "#/components/responses/PeopleCreateResponse"
          },
          "400": {
            "description": "Malformed upsert request",
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/crm/people/{token}": {
      "get": {
        "summary": "Fetch a person",
        "operationId": "crm_person_get",
        "description": "Fetch an existing person using the unique token identifier Hummingbird generated during creation of the person. If the person exists an object containing all the data for the record will be returned. If the person cannot be found the endpoint will return an error message with an explanation.",
        "tags": [
          "CRM (Beta)"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CRMTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonGetResponse"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/crm/people/id_lookup": {
      "post": {
        "summary": "Look up a person by ID",
        "operationId": "crm_person_id_lookup_post",
        "description": "Look up an existing person by ID. If the person exists, it will redirect to the fetch endpoint with corresponding token of the person in the path.",
        "tags": [
          "CRM (Beta)"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PersonLookupRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PersonGetResponse"
          },
          "303": {
            "description": "Redirect to fetch endpoint with corresponding token of the person.",
            "headers": {
              "Location": {
                "description": "Redirect url",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "text/html": {

              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponseV2"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponseV2"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "description": "OAuth access token endpoint. Please see Access Token documentation for more information.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {

              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivitiesOther": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "category": {
            "description": "The category of activity to report, matches to the jurisdiction filing.",
            "$ref": "#/components/schemas/SARActivityClassificationNullable",
            "default": "OTHER_ACTIVITIES"
          },
          "value": {
            "description": "Actual text of activity to report.",
            "type": "string",
            "example": "Mining Cryptocurrency"
          }
        }
      },
      "Address": {
        "type": "object",
        "nullable": true,
        "properties": {
          "address_line_1": {
            "type": "string",
            "example": "A hole in the ground",
            "nullable": true
          },
          "address_line_2": {
            "type": "string",
            "example": "Sackville-Bagginses",
            "nullable": true
          },
          "city": {
            "type": "string",
            "example": "Bag End",
            "nullable": true
          },
          "state": {
            "type": "string",
            "example": "ME",
            "nullable": true
          },
          "country": {
            "type": "string",
            "example": "US",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "example": "12345",
            "nullable": true
          }
        }
      },
      "AddressWithType": {
        "type": "object",
        "nullable": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Address"
          },
          {
            "type": "object",
            "properties": {
              "address_type": {
                "description": "Labels the address with a type",
                "$ref": "#/components/schemas/AddressTypeNullable"
              },
              "address_type_other": {
                "description": "Describes an address type of \"Other\"",
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "Alert": {
        "type": "object",
        "required": [
          "rule"
        ],
        "example": {
          "id": "ALERT-123ABC",
          "rule": "Weekly Average Transaction Size",
          "triggered_at": "2020-10-01T12:30:00Z"
        },
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string",
            "example": null
          },
          "id": {
            "description": "Your id for this alert.",
            "type": "string",
            "nullable": true,
            "example": "ALERT-123ABC"
          },
          "triggered_at": {
            "description": "When was this alert triggered?",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-04T21:25:38Z"
          },
          "rule": {
            "description": "What rule was used to trigger this alert?",
            "type": "string",
            "example": "Weekly Average Transaction Size"
          },
          "review_tags": {
            "description": "What tags should be applied to the review associated with this alert?",
            "type": "array",
            "items": {
              "type": "string",
              "example": "PEP"
            },
            "uniqueItems": true
          },
          "references": {
            "description": "What data is associated with this alert? E.g. Which subjects and transactions are associated with this alert? Within the UI, alert references are used to tie alerts to the associated data. Transaction references will be displayed within the Alerts Triggered card. Entity references will have the alert added to their full profile in the Related Alerts section.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "comments": {
            "description": "Any additional comments associated with this alert.",
            "type": "string",
            "nullable": true,
            "example": "Three transactions over $800 were seen within a single week."
          },
          "links": {
            "description": "List of links to other pages that might be valuable for this alert.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExternalPageLink"
            }
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          },
          "grouping_keys": {
            "description": "[Only used if you do your own alerts to case grouping] What keys should be used to group these alerts into cases? If not provided, alerts will be grouped by subject identifiers. Grouping keys are not persisted onto the case alert.",
            "type": "array",
            "items": {
              "type": "string",
              "example": "GROUP-abc123",
              "uniqueItems": true
            }
          }
        }
      },
      "AlertCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false
          },
          "alerts": {
            "type": "array",
            "description": "Set of alerts which were created",
            "items": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "The processing token for the Alert, generated by Hummingbird and used to fetch the current processing state.",
                  "readOnly": true
                },
                "id": {
                  "description": "Your id for this alert.",
                  "type": "string",
                  "readOnly": true,
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "AlertFetchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false,
            "description": "Whether this GET request succeeded. This does NOT reflect the status of the actual alert - for that see `state` instead."
          },
          "alert": {
            "type": "object",
            "description": "The current data and status of the alert.",
            "properties": {
              "token": {
                "type": "string",
                "description": "The unique token for the Alert, generated by Hummingbird.",
                "readOnly": true
              },
              "id": {
                "type": "string",
                "description": "Your unique ID for the Alert, which you sent us when the alert was created."
              },
              "processed_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "The timestamp (iso8601) when the alert was processed successfully. This will be null until the alert is processed."
              },
              "case_token": {
                "type": "string",
                "nullable": true,
                "description": "The token of the case the alert is associated with. This will be null until the alert is processed."
              },
              "review_token": {
                "type": "string",
                "nullable": true,
                "description": "The token of the review the alert is associated with. This will be null until the alert is processed."
              },
              "state": {
                "type": "string",
                "enum": [
                  "pending",
                  "processed",
                  "error",
                  "stuck",
                  "dismissed",
                  "suppressed"
                ],
                "description": "The state of the Alert\n * `pending`: Alert has been received but has not been processed.\n * `processed`: Alert has been processed successfully.\n * `error`: Alert failed to process. See the `error` field for the message.\n"
              },
              "error": {
                "type": "string",
                "nullable": true,
                "description": "The error message that prevented processing. This will be null unless an error occurred during processing."
              }
            }
          }
        }
      },
      "AlertRequest": {
        "type": "object",
        "required": [
          "alerts"
        ],
        "properties": {
          "alerts": {
            "description": "A list of alert details. Send multiple alerts if alerts can be grouped, e.g. if a set of transactions triggered multiple rules.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "workflow": {
            "type": "string",
            "description": "A string descriptor to indicate which workflow to initiate. If empty, will default to whichever workflow is configured as an initial workflow for the organization.",
            "example": "triage"
          },
          "data": {
            "type": "object",
            "description": "Additional information to add into the case including subject PII, accounts, transaction histories, etc.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CaseDataRequest"
              },
              {
                "type": "object",
                "properties": {
                  "attachments": {
                    "description": "Attachment attributes",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CaseAttachmentRequest"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "AlertUploadsGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": true
          },
          "alert_upload": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Unique identifier created by Hummingbird for the Alert Upload.",
                "readOnly": true,
                "example": "ZxiJDeAVWmDUaa7iDJLGArCJ"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2021-11-12T19:11:37.889Z"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2021-11-12T19:11:36.948Z"
              },
              "alert_processing_started_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "nullable": true,
                "example": "2021-11-12T19:21:10.439Z"
              },
              "failed_at": {
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "nullable": true,
                "example": null
              },
              "error_message": {
                "type": "string",
                "nullable": true,
                "readOnly": true,
                "example": null
              },
              "status": {
                "type": "string",
                "readOnly": true,
                "description": "The processing status of the alert. PENDING|PROCESSING|PROCESSED|PROCESSING_ERROR|UPLOAD_ERROR",
                "example": "PENDING"
              },
              "alerts": {
                "type": "array",
                "readOnly": true,
                "description": "Details for each alert.",
                "items": {
                  "$ref": "#/components/schemas/AlertFetchResponse"
                }
              }
            }
          }
        }
      },
      "AlertUploadsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": true
          },
          "alert_upload": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "Unique identifier created by Hummingbird for the Alert Upload.",
                "readOnly": true,
                "example": "ZxiJDeAVWmDUaa7iDJLGArCJ"
              },
              "upload": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "description": "Method of the Upload.",
                    "readOnly": true,
                    "example": "post"
                  },
                  "url": {
                    "type": "string",
                    "description": "Upload URL",
                    "readOnly": true,
                    "example": "https://s3.us-west-2.amazonaws.com/hummingbird...."
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An arbitrary set of fields which must be included with the HTTP POST form data used for upload."
                  }
                }
              },
              "encryption": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                  },
                  "public_key": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "readOnly": true,
                        "description": "Encryption ID",
                        "example": "FVczGR6DDoKYHSY2LpiG6XGQ"
                      },
                      "key": {
                        "type": "string",
                        "readOnly": true,
                        "description": "Encryption key",
                        "example": "-----BEGIN PUBLIC KEY-----..."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AttachmentRequest": {
        "type": "object",
        "required": [
          "filename",
          "mime_type"
        ],
        "properties": {
          "filename": {
            "description": "The name of the attachment file you plan to upload.",
            "type": "string"
          },
          "mime_type": {
            "description": "The mime type of the file you plan to upload. Hummingbird restricts the types of files that are available to be uploaded via this API. For infrormation about these restrictions and the file attachment process see our [help center article ](https://help.hummingbird.co/hummingbird-api/can-i-upload-files-over-the-api).\n",
            "example": "text/csv",
            "type": "string"
          }
        }
      },
      "AttachmentResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The unique token for the Attachment, generated by Hummingbird and used in subsequent requests to save the attachment to a case.",
            "readOnly": true
          },
          "upload": {
            "$ref": "#/components/schemas/AttachmentUpload"
          }
        }
      },
      "Balance": {
        "type": "object",
        "nullable": true,
        "required": [
          "balance",
          "recorded_at"
        ],
        "example": {
          "balance": {
            "amount": 12345,
            "currency_code": "USD"
          },
          "recorded_at": "2020-11-04T21:25:38Z"
        },
        "properties": {
          "balance": {
            "description": "Actual amount of balance and currency.",
            "$ref": "#/components/schemas/CurrencyMinorUnits"
          },
          "recorded_at": {
            "description": "When was this balance taken?",
            "example": "2020-11-04T21:25:38Z",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          }
        }
      },
      "BankAccount": {
        "description": "A Bank Account can be added for investigating links between accounts.",
        "type": "object",
        "example": {
          "id": "BA-123ABC",
          "routing_number": "021001021",
          "account_number": "002575960020289900212369",
          "account_type": "DEPOSITORY"
        },
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this bank account. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "BA-123ABC"
          },
          "account_holder_id": {
            "description": "The account holder for this account. The ID is the one provided by you. To associate this bank account with an individual (or business), ensure that this ID matches the individual's ID. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "ID-123ABC"
          },
          "institution_id": {
            "description": "The institution holding the account. The ID is the one provided by you.",
            "type": "string",
            "nullable": true,
            "example": "IN-123ABC"
          },
          "routing_number": {
            "description": "Routing number of bank account.",
            "type": "string",
            "nullable": true,
            "example": "021001021"
          },
          "account_number": {
            "description": "Account number of bank account.",
            "type": "string",
            "nullable": true,
            "example": 2.5759600202899e+21
          },
          "account_type": {
            "description": "Type of account.",
            "$ref": "#/components/schemas/InvestigationAccountTypeNullable"
          },
          "account_type_other": {
            "description": "Value for account_type when account_type is 'OTHER'",
            "type": "string",
            "nullable": true
          },
          "account_subtype": {
            "description": "Subtype of account.",
            "$ref": "#/components/schemas/InvestigationAccountSubtypeNullable"
          },
          "account_subtype_other": {
            "description": "Value for account_subtype when account_subtype is 'OTHER'",
            "type": "string",
            "nullable": true
          },
          "country": {
            "description": "Country where account is located.",
            "type": "string",
            "nullable": true,
            "example": "US"
          },
          "state": {
            "description": "State where account is located.",
            "type": "string",
            "nullable": true,
            "example": "CA"
          },
          "opened_at": {
            "description": "Date the account was opened.",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "closed": {
            "description": "If the account was closed.",
            "type": "boolean",
            "nullable": true
          },
          "closed_at": {
            "description": "Date the account was closed.",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "signatories": {
            "description": "A person who is authorized under authority from the account holder to transact on an account holder's account.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signatory"
            }
          },
          "balances": {
            "description": "A record of the amount of money in an account and when the amount was recorded.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Balance"
            }
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          }
        }
      },
      "Branch": {
        "description": "A branch represents a branch of a financial institution involved in a case.",
        "type": "object",
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this branch.",
            "type": "string",
            "nullable": true,
            "example": "BR-123ABC"
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ]
          },
          "rssd_number": {
            "type": "string",
            "nullable": true,
            "example": "952847"
          },
          "role_in_transaction": {
            "$ref": "#/components/schemas/RoleInTransactionNullable"
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          }
        }
      },
      "Business": {
        "description": "A business represents a Subject to a Case that is a business entity.",
        "type": "object",
        "example": {
          "id": "BA-123ABC",
          "legal_names": [
            "Mordor Bank"
          ],
          "tins": [
            {
              "number": "444556666",
              "type": "EIN"
            }
          ],
          "phone_numbers": [
            {
              "phone_number": "4151231234",
              "extension": "123",
              "phone_type": "WORK"
            }
          ],
          "other_info": [
            {
              "label": "House",
              "value": "Elrond"
            }
          ]
        },
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this business. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "BZ-123-ABC"
          },
          "crm_token": {
            "description": "Token of the library business object that is tied to the business.",
            "type": "string",
            "nullable": true
          },
          "legal_names": {
            "description": "Legal names for the business.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Inn of the Prancing Pony",
              "Favorite Bree Inn of Aragorn"
            ]
          },
          "dba_names": {
            "description": "\"Doing Business As\" (DBA) names for the business.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Green Dragon Inn",
              "Golden Perch Inn"
            ]
          },
          "tins": {
            "description": "The TINs associated with the business.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TIN"
            }
          },
          "role_in_activity": {
            "description": "Specify role in activity.",
            "$ref": "#/components/schemas/RoleInActivityNullable"
          },
          "role_in_activity_other": {
            "description": "Value for role_in_activity when role_in_activity is 'OTHER'",
            "type": "string",
            "nullable": true
          },
          "corroborative_statement": {
            "description": "Has this subject provided a corroborative statement to the activity?",
            "type": "boolean",
            "nullable": true
          },
          "naics_code": {
            "description": "The NAICS code for the business.",
            "type": "string",
            "nullable": true,
            "example": "722"
          },
          "type_of_business": {
            "description": "The type of business.",
            "type": "string",
            "nullable": true,
            "example": "Food Services and Drinking Places"
          },
          "phone_numbers": {
            "description": "The phone numbers associated with the business.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "email_addresses": {
            "description": "The email addresses associated with the business.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "prancing-pony-inn@shiremail.com",
              "owner@innoftheprancingpony.com"
            ]
          },
          "websites": {
            "description": "The websites associated with the business.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "innoftheprancingpony.com",
              "po.ny",
              "prancingpony.geocities.com'"
            ]
          },
          "addresses": {
            "description": "The addresses associated with the business.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressWithType"
            }
          },
          "identity_documents": {
            "description": "The identity documents associated with the business.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentityDocument"
            }
          },
          "institution_relationships": {
            "description": "The relationships this business has with an institution.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstitutionRelationship"
            }
          },
          "links": {
            "description": "List of links to other pages that might be valuable.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExternalPageLink"
            }
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          }
        }
      },
      "BusinessLookupRequest": {
        "type": "object",
        "required": [
          "business"
        ],
        "properties": {
          "business": {
            "description": "The business that is being requested",
            "type": "object",
            "example": {
              "id": "BUSINESS-1"
            },
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "description": "Unique identifier associated with the business.",
                "type": "string",
                "example": "BUSINESS-1",
                "maxLength": 4096
              }
            }
          }
        }
      },
      "BusinessType": {
        "description": "Type of the business.",
        "type": "object",
        "example": {
          "label": "lifesciences - health_care",
          "naics_code": "1234"
        },
        "properties": {
          "label": {
            "description": "The type of business.",
            "nullable": true,
            "type": "string",
            "example": "lifesciences - health_care",
            "maxLength": 4096
          },
          "naics_code": {
            "description": "The NAICS code for the business.",
            "type": "string",
            "example": 12345,
            "maxLength": 256,
            "nullable": true
          }
        }
      },
      "BusinessesCreateResponse": {
        "type": "object",
        "properties": {
          "businesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LibraryBusiness"
            }
          }
        }
      },
      "BusinessesRequest": {
        "type": "object",
        "required": [
          "businesses"
        ],
        "properties": {
          "businesses": {
            "description": "A list of businesses for creation or update within the Hummingbird app. At least one business is required in the submission, with a maximum limit of 100.",
            "type": "array",
            "minimum": 1,
            "maximum": 100,
            "items": {
              "$ref": "#/components/schemas/LibraryBusiness"
            }
          }
        }
      },
      "CaseAttachment": {
        "type": "object",
        "description": "Attachment on a case.",
        "properties": {
          "token": {
            "type": "string",
            "description": "The unique token for the attached file to the case, generated by Hummingbird.",
            "readOnly": true
          },
          "filename": {
            "type": "string",
            "description": "The name of the attached file.",
            "example": "john_doe_drivers_license.jpg"
          },
          "content_type": {
            "type": "string",
            "description": "The content type for the attached file.",
            "example": "image/jpeg"
          },
          "url": {
            "type": "string",
            "description": "A presigned url enabling you to download attachments from Hummingbird. The presigned url has a 10 minute expiration.",
            "readOnly": true
          },
          "created_at": {
            "description": "When this attachment was created.",
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "example": "2022-09-04T21:25:38Z"
          },
          "updated_at": {
            "description": "When this attachment was last updated.",
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "example": "2022-09-04T21:25:38Z"
          }
        }
      },
      "CaseAttachmentRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "description": "The attachment identifier provided by Hummingbird during attachment creation.",
            "type": "string"
          }
        }
      },
      "CaseAttachmentsResponse": {
        "type": "object",
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaseAttachment"
            }
          }
        }
      },
      "CaseCancelRequest": {
        "type": "object",
        "required": [
          "reason"
        ],
        "properties": {
          "reason": {
            "description": "Why the case is being cancelled.",
            "type": "string"
          }
        }
      },
      "CaseCancelResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false
          },
          "case": {
            "type": "object",
            "nullable": true,
            "properties": {
              "cancelled_at": {
                "type": "string",
                "format": "date-time"
              },
              "token": {
                "description": "Unique identifier created by Hummingbird for the case.",
                "type": "string"
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "$ref": "#/components/schemas/ErrorType"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "CaseCreateRequest": {
        "type": "object",
        "required": [
          "case"
        ],
        "properties": {
          "case": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/CaseRequest"
              },
              {
                "type": "object",
                "properties": {
                  "queue": {
                    "description": "Assigns the case to a specific queue, identified by badge canonical ID that can be found in Badge Settings \u003E View.",
                    "nullable": true,
                    "writeOnly": true,
                    "type": "string",
                    "maxLength": 256,
                    "example": "AML_INVESTIGATOR"
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "surveys": {
                    "description": "Survey responses",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "attachments": {
                    "description": "Attachment attributes",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CaseAttachmentRequest"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "CaseFilingResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Filing"
          },
          {
            "type": "object",
            "properties": {
              "filing_data": {
                "description": "A data hash that encompasses jurisdiction-specific filing data.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/FilingDataResponseFincen"
                  },
                  {
                    "$ref": "#/components/schemas/FilingDataResponseFINTRAC"
                  },
                  {
                    "$ref": "#/components/schemas/FilingDataResponseGoAML"
                  }
                ]
              }
            }
          }
        ]
      },
      "CaseListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": false,
            "readOnly": true,
            "description": "Whether this GET request was processed successfully."
          },
          "page_info": {
            "$ref": "#/components/schemas/RelayPageInfo"
          },
          "cases": {
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/RelayEdge"
                },
                {
                  "type": "object",
                  "properties": {
                    "case": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true,
                          "description": "When this case was created."
                        },
                        "token": {
                          "type": "string",
                          "readOnly": true,
                          "description": "Unique identifier created by Hummingbird for the resource."
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true,
                          "description": "When this case was last updated."
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "CaseLookupRequest": {
        "type": "object",
        "required": [
          "case"
        ],
        "properties": {
          "case": {
            "description": "The case that is being requested",
            "type": "object",
            "example": {
              "id": "CASE-1"
            },
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "description": "Unique identifier associated with the business.",
                "type": "string",
                "example": "CASE-1",
                "maxLength": 4096
              }
            }
          }
        }
      },
      "CaseResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "default": true
          },
          "notice": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "$ref": "#/components/schemas/ErrorType"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "case": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Case"
              },
              {
                "type": "object",
                "properties": {
                  "attachments": {
                    "description": "List of attachments on a case",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CaseAttachmentsResponse"
                    }
                  },
                  "filings": {
                    "description": "Filing responses for a jurisdiction.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CaseFilingResponse"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "CaseUpdateRequest": {
        "type": "object",
        "required": [
          "case"
        ],
        "properties": {
          "case": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/CaseRequest"
              },
              {
                "type": "object",
                "properties": {
                  "queue": {
                    "description": "Assigns the case to a specific queue, identified by badge canonical ID that can be found in Badge Settings.",
                    "nullable": true,
                    "type": "string",
                    "maxLength": 256,
                    "example": "AML_INVESTIGATOR"
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "attachments": {
                    "description": "Attachment attributes",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CaseAttachmentRequest"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "CryptoAddress": {
        "description": "A Crypto Address represents information about an address used to send value over a blockchain. Each Crypto Address is owned by a single individual or institution.",
        "type": "object",
        "example": {
          "id": "BTC-123ABC",
          "blockchain": "BITCOIN",
          "address": "c176e6cca1f74cb19d458074716cac4e"
        },
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this crypto address. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "CR-123-ABC"
          },
          "account_holder_id": {
            "description": "The account holder for this account. The ID is the one provided by you. To associate this cryptoaddress with an individual (or business), ensure that this ID matches the individual's ID. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "ID-123ABC"
          },
          "institution_id": {
            "description": "The institution holding the account. The ID is the one provided by you.",
            "type": "string",
            "nullable": true,
            "example": "IN-123ABC"
          },
          "blockchain": {
            "description": "Specify blockchain where address lives.",
            "$ref": "#/components/schemas/InvestigationBlockchainTypeNullable"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "example": "c176e6cca1f74cb19d458074716cac4e"
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          }
        }
      },
      "CurrencyMajorUnits": {
        "type": "object",
        "nullable": true,
        "required": [
          "amount_major",
          "currency_code"
        ],
        "properties": {
          "amount_major": {
            "description": "Amount in major units of the currency, with arbitrary precision.\nFor example:\n  - Ten dollars and thiry three cents is \"10.33\"\n  - Zero bitcoin and ten satoshi is \"0.0000001\"\n",
            "type": "string",
            "example": "10.50"
          },
          "currency_code": {
            "type": "string",
            "description": "The ISO 4217 three-letter currency code OR a currency identifier of your choosing.\nNon-ISO values will be normalized to all upper-case with whitespace removed.\n",
            "example": "USD"
          },
          "assume_iso_currency": {
            "type": "boolean",
            "default": true,
            "description": "This field can usually be omitted.\n\nIn general if a currency matches an ISO 4217 code it is assumed that the ISO currency\nwas intended. In the rare circumstance that a custom currency identifier conflicts\nwith an ISO code you may explicitly state so by setting this field to false.\n"
          }
        }
      },
      "CurrencyMinorUnits": {
        "type": "object",
        "nullable": true,
        "deprecated": false,
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "description": "Amount in the lowest denomination of the currency. For example, for USD, this would be the amount in cents.",
            "type": "integer",
            "example": 12345
          },
          "currency_code": {
            "$ref": "#/components/schemas/CurrencyCode",
            "default": "USD",
            "example": "USD"
          }
        }
      },
      "Device": {
        "description": "A Device represents information about a user session in your app or website from a device such as a laptop or mobile phone. Each Device can be linked to a single related Individual or Business object, though they may share characteristics like IP Address and fingerprint.",
        "type": "object",
        "example": {
          "id": "DEVICE-123ABC",
          "ip_address": "206.189.73.52",
          "name": "iphone"
        },
        "properties": {
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this device. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "DV-123-ABC"
          },
          "owner_id": {
            "description": "The owner of this device. The ID is the one provided by you. To associate this device with an individual (or business), ensure that this ID matches the individual's ID. Required for CRM enabled environments.",
            "type": "string",
            "nullable": true,
            "example": "PE-123-ABC"
          },
          "ip_address": {
            "description": "Specify IP address of device.",
            "type": "string",
            "nullable": true,
            "example": "206.189.73.52"
          },
          "fingerprint": {
            "description": "Any unique device identifier.",
            "type": "string",
            "nullable": true,
            "example": "4c2773c6b3adeb55f38ab28579eaaa94"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Legolas' iPhone"
          },
          "operating_system": {
            "example": "IOS",
            "$ref": "#/components/schemas/InvestigationOperatingSystemNullable"
          },
          "browser": {
            "example": "FIREFOX",
            "$ref": "#/components/schemas/InvestigationBrowserTypeNullable"
          },
          "user_agent": {
            "description": "Arbitrary string describing the device",
            "type": "string",
            "nullable": true,
            "example": "Mozilla/5.0 (iPhone; ElvishMods)"
          },
          "first_seen_at": {
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-04T21:25:38Z"
          },
          "last_seen_at": {
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-04T21:25:38Z"
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          }
        }
      },
      "ErrorMessagesResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            },
            "example": [
              {
                "message": "Failed to create a new person: the server crashed."
              }
            ]
          }
        }
      },
      "ExternalPageLink": {
        "type": "object",
        "required": [
          "label",
          "url"
        ],
        "properties": {
          "label": {
            "description": "Label to show to the investigator.",
            "type": "string",
            "example": "Homepage"
          },
          "url": {
            "description": "URL to link to.",
            "type": "string",
            "example": "https://www.example.com/"
          }
        }
      },
      "Filing": {
        "description": "A Filing is the resource that describes the details of the filing in a particular jurisdiction. The details of the case referenced are brought into the filing automatically as appropriate.",
        "type": "object",
        "required": [
          "jurisdiction",
          "workflow",
          "filing_data"
        ],
        "properties": {
          "jurisdiction": {
            "$ref": "#/components/schemas/FilingJurisdictionEnum"
          },
          "workflow": {
            "description": "The workflow for this filing.",
            "type": "string",
            "example": "aml-investigation"
          },
          "token": {
            "readOnly": true,
            "description": "Unique identifier created by Hummingbird for the resource. Required when fetching, but not when creating.",
            "type": "string"
          },
          "id": {
            "description": "Your id for this filing.",
            "type": "string",
            "nullable": true,
            "example": "FI-123ABC"
          },
          "filing_institution_id": {
            "description": "Your unique ID for the filing institution. This should reference a pre-created filing institution.",
            "type": "string",
            "nullable": true,
            "example": "INST-PPP"
          },
          "filing_data": {
            "description": "A data hash that encompasses jurisdiction-specific filing data.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/FilingDataFincen"
              },
              {
                "$ref": "#/components/schemas/FilingDataFINTRAC"
              },
              {
                "$ref": "#/components/schemas/FilingDataGoAML"
              }
            ]
          }
        }
      },
      "FilingDataFINTRAC": {
        "description": "Describes the details of the filing for FINTRAC.",
        "type": "object",
        "example": {
          "amount_involved": {
            "amount": 21000,
            "currency_code": "CAD"
          },
          "amount_blank_reason": "SUM_TRANSACTIONS",
          "activity_started_on": "2022-07-02T12:00:00Z",
          "activity_ended_on": "2022-07-02T12:00:00Z",
          "reason": "Questionable behavior"
        },
        "properties": {
          "filing_name": {
            "description": "Name of the filing.",
            "type": "string"
          },
          "narrative": {
            "description": "Detailed description of investigation and the findings.",
            "type": "string",
            "nullable": true,
            "example": "When Mr. Bilbo Baggins of Bag End announced that he would shortly..."
          },
          "alerts": {
            "description": "List of alerts that triggered this filing.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            },
            "example": []
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          },
          "selected_subjects": {
            "description": "The Subjects that were selected for this Filing",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingDataSelectedSubjects"
            }
          }
        }
      },
      "FilingDataFincen": {
        "description": "Describes the details of the filing for FinCEN.",
        "type": "object",
        "required": [
          "filing_type",
          "internal_control_number"
        ],
        "example": {
          "filing_name": "Case 12345",
          "internal_control_number": "HBAML201912",
          "filing_type": "INITIAL",
          "activities": [
            "CREDIT_OR_DEBIT_CARD",
            "HIGH_RISK_JURISDICTION"
          ],
          "narrative": "Questionable behavior"
        },
        "properties": {
          "filing_name": {
            "description": "A name for your filing.",
            "type": "string",
            "nullable": true,
            "example": "Case 12345"
          },
          "report_type": {
            "description": "The type of FINCEN report you're filing. Options are 'CTR' or 'SAR'. Defaults to 'SAR' if not specified.",
            "default": "SAR",
            "$ref": "#/components/schemas/FilingReportTypeNullable"
          },
          "internal_control_number": {
            "description": "This is unique internal value for each report, which law enforcement or regulatory agencies can reference without disclosing the existence or content of a particular SAR.",
            "type": "string",
            "nullable": false,
            "example": "HBAML201912"
          },
          "prior_report_number": {
            "description": "Required if the filing type is CONTINUING or CORRECT_OR_AMEND. Invalid and disallowed for initial filings.",
            "type": "string",
            "nullable": true,
            "example": null
          },
          "filing_type": {
            "default": "INITIAL",
            "$ref": "#/components/schemas/FilingType"
          },
          "joint_report": {
            "description": "Defaults to false if not present.",
            "type": "boolean",
            "default": false
          },
          "amount_involved": {
            "description": "Amount involved in the suspicious activity. Defaults to 0.",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/CurrencyMinorUnits"
              }
            ]
          },
          "amount_blank_reason": {
            "description": "Required if the amount involved is missing or zero. Invalid if amount involved is set appropriately.",
            "$ref": "#/components/schemas/FilingAmountAlgorithmNullable",
            "example": null
          },
          "activity_started_on": {
            "description": "Date that the suspicious activity started at.",
            "example": "2020-11-01",
            "nullable": true,
            "oneOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "activity_ended_on": {
            "description": "Date that the suspicious activity ended at.",
            "example": "2020-11-04",
            "nullable": true,
            "oneOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "activity_started_at": {
            "readOnly": true,
            "description": "Deprecated, please use activity_started_on.",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-04T21:25:38Z"
          },
          "activity_ended_at": {
            "readOnly": true,
            "description": "Deprecated, please use activity_ended_on.",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-04T21:25:38Z"
          },
          "timeline_started_at": {
            "description": "The date in which your investigation began.",
            "nullable": true,
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "example": "2020-11-05T21:25:38Z"
          },
          "cumulative_amount": {
            "description": "Required if filing type is CORRECT_OR_AMEND. Invalid and disallowed for other filing types.",
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/CurrencyMinorUnits"
              }
            ]
          },
          "activities": {
            "description": "List of Activities to add. See the \u003Ca href=\"https://docs.hummingbird.co/docs/activities\"\u003Eappendix\u003C/a\u003E for a list of activities.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "CREDIT_OR_DEBIT_CARD",
              "HIGH_RISK_JURISDICTION"
            ]
          },
          "activities_other": {
            "description": "Other, text-entry activities.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitiesOther"
            },
            "example": [
              {
                "category": "OTHER_ACTIVITIES",
                "value": "Magical creatures"
              },
              {
                "category": "OTHER_ACTIVITIES",
                "value": "Darkweb ring"
              }
            ]
          },
          "product_types": {
            "description": "List of Product Types to add. See the \u003Ca href=\"https://docs.hummingbird.co/docs/product-types\"\u003Eappendix\u003C/a\u003E for a list of product types.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "BONDS_NOTES",
              "CREDIT_CARD"
            ]
          },
          "product_types_other": {
            "description": "Other product types.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Cryptocurrency"
            ]
          },
          "instruments": {
            "description": "List of Instruments to add, See the \u003Ca href=\"https://docs.hummingbird.co/docs/instruments\"\u003Eappendix\u003C/a\u003E for a list of instrument types.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "US_CURRENCY",
              "FOREIGN_CURRENCY"
            ]
          },
          "instruments_other": {
            "description": "Other instruments.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Bitcoin"
            ]
          },
          "law_enforcement_contact": {
            "description": "Law Enforcement Contact to add.",
            "type": "object",
            "nullable": true,
            "properties": {
              "agency": {
                "description": "Name of agency you’re working with.",
                "type": "string",
                "example": "FBI'"
              },
              "name": {
                "description": "Name of contact.",
                "type": "string",
                "example": "Aragorn Elessar"
              },
              "email": {
                "description": "Email address of contact.",
                "type": "string",
                "example": "aragorn@fbi.gov"
              },
              "telephone": {
                "type": "string",
                "example": "4151231234"
              },
              "extension": {
                "type": "string",
                "example": "123"
              },
              "date": {
                "description": "Most recent date of contact.",
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          },
          "alerts": {
            "description": "List of alerts that triggered this filing.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            },
            "example": []
          },
          "narrative": {
            "description": "Detailed description of investigation and the findings.",
            "type": "string",
            "nullable": true,
            "example": "When Mr. Bilbo Baggins of Bag End announced that he would shortly..."
          },
          "note_to_fincen": {
            "description": "Short note to FinCEN. Max 50 characters in length.",
            "type": "string",
            "nullable": true,
            "example": "FIN-2019-MIDDLEEARTH"
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          },
          "selected_subjects": {
            "description": "The Subjects that were selected for this Filing",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingDataSelectedSubjects"
            }
          },
          "filed_at": {
            "description": "The date the report was filed.",
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "example": "2020-11-04T21:25:38Z",
            "nullable": true
          }
        }
      },
      "FilingDataGoAML": {
        "description": "Describes the details of the filing for GNECB (Ireland).",
        "type": "object",
        "example": {
          "report_code": "STR",
          "internal_reference_number": "HBAML201912",
          "currency_code_local": "USD",
          "report_indicators": [
            "Bribery"
          ],
          "reason": "Questionable behavior"
        },
        "properties": {
          "internal_reference_number": {
            "description": "An internal value to help you reference the filing.",
            "type": "string",
            "example": "CASE-12345"
          },
          "report_code": {
            "description": "Code that describes the report type. STR is the only valid value at the moment.",
            "$ref": "#/components/schemas/GNECBReportCodeNullable",
            "example": "STR",
            "default": "STR"
          },
          "reason": {
            "description": "Your reason for filing.",
            "type": "string",
            "example": "Suspicous activity found with account."
          },
          "action": {
            "description": "Action related to the report.",
            "type": "string"
          },
          "currency_code_local": {
            "description": "The local currency code for the reporting entity. Defaults to USD.",
            "type": "string",
            "example": "USD",
            "default": "USD"
          },
          "report_indicators": {
            "description": "List of values that indicate the types of crime(s) in the report.",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/BermudaReportIndicator"
                },
                {
                  "$ref": "#/components/schemas/GermanyReportIndicator"
                },
                {
                  "$ref": "#/components/schemas/GNECBReportIndicator"
                },
                {
                  "$ref": "#/components/schemas/NetherlandsReportIndicator"
                },
                {
                  "$ref": "#/components/schemas/SwedenReportIndicator"
                }
              ]
            }
          },
          "alerts": {
            "description": "List of alerts that triggered this filing.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            },
            "example": []
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          },
          "selected_subjects": {
            "description": "The Subjects that were selected for this Filing",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilingDataSelectedSubjects"
            }
          }
        }
      },
      "FilingDataResponseFINTRAC": {
        "description": "Describes the filing data for a FINTRAC filing.",
        "type": "object",
        "example": {
          "amount_involved": {
            "amount": 21000,
            "currency_code": "CAD"
          },
          "amount_blank_reason": "SUM_TRANSACTIONS",
          "activity_started_on": "2022-07-02T12:00:00Z",
          "activity_ended_on": "2022-07-02T12:00:00Z",
          "reason": "Questionable behavior"
        },
        "properties": {
          "amount_involved": {
            "description": "Amount involved in the suspicious activity. Defaults to 0.",
            "$ref": "#/components/schemas/CurrencyMinorUnits",
            "nullable": true
          },
          "amount_blank_reason": {
            "description": "Required if the amount involved is missing or zero. Invalid if amount involved is set appropriately.",
            "type": "string",
            "nullable": true,
            "enum": [
              "AMOUNT_UNKNOWN",
              "NO_AMOUNT_INVOLVED"
            ],
            "example": null
          },
          "reason": {
            "description": "Your reason for filing.",
            "type": "string",
            "example": "Suspicous activity found with account."
          },
          "activity_started_on": {
            "description": "Date that the suspicious activity started at.",
            "nullable": true,
            "example": "2020-11-01",
            "oneOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "activity_ended_on": {
            "description": "Date that the suspicious activity ended at.",
            "nullable": true,
            "example": "2020-11-04",
            "oneOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "other_info": {
            "$ref": "#/components/schemas/OtherInfo"
          },
          "response": {
            "description": "A data hash that holds the filing status and all report numbers related to this filing.",
            "type": "object",
            "properties": {
              "filing_status": {
                "description": "Most recent filing status of the FINTRAC filing.",
                "readOnly": true,
                "type": "string",
                "example": "pending",
                "nullable": true
              },
              "report_numbers": {
                "description": "An array of all Report Numbers relating to the FINTRAC filing.",
                "readOnly": true,
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "1234567",
                  "1234568"
                ]
              }
            }
          }
        }
      },
      "FilingDataResponseFincen": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/FilingDataFincen"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "description": "A data hash that holds the filing status and all report numbers related to this filing.",
                "type": "object",
                "properties": {
                  "filing_status": {
                    "description": "Most recent filing status of the FinCEN filing.",
                    "readOnly": true,
                    "type": "string",
                    "example": "accepted",
                    "nullable": true
                  },
                  "sdtm_file_id": {
                    "description": "The filename of the XML document transmitted to FinCEN. The filename allows you to identify the filing when viewing your filing in the BSA web portal.",
                    "readOnly": true,
                    "example": "PH4DNC08912R56CCA0",
                    "nullable": true
                  },
                  "bsa_id": {
                    "description": "The BSA E-Filing System tracking Identification Number.",
                    "readOnly": true,
                    "type": "string",
                    "example": "31000055053785",
                    "nullable": true
                  }
                }
              }
            }
          }
        ]
      },
      "FilingDataResponseGoAML": {
        "description": "Describes the details of the filing response for GNECB (Ireland).",
        "type": "object",
        "example": {
          "internal_reference_number": "HBAML201912",
          "indicators": [
            "Bribery"
          ],
          "reason": "Questionable behavior"
        },
        "properties": {
          "filing_type": {
            "description": "The filing type for this filing",
            "readOnly": true,
            "$ref": "#/components/schemas/FilingTypeNullable",
            "default": "INITIAL"
          },
          "timeline_started_at": {
            "description": "The date in which your investigation began.",
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "format": "date-time",
            "example": "2020-11-05T21:25:38Z"
          },
          "alerts": {
            "description": "List of alerts that triggered this filing.",
            "type": "array",
            "nullable": true,
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/Alert"
            },
            "example": []
          },
          "amount_blank_reason": {
            "description": "Required if the amount involved is missing or zero. Invalid if amount involved is set appropriately.",
[...]
